.pictureContainer{
    /* display: flex ;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction:column;
    height: 90vh;
    min-width: 90vw;

    margin-left: 1rem; */

    margin-left: 10vw;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.aga:hover{
scale: 2.5;
}